body{
    
  background-image: linear-gradient(#1d1717,rgb(100, 95, 95));
  

  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #ec0101;
  }
  .container {
    position: relative;
    width: 50%;
    display: grid;
  }
  
  
  .image {
    width: 180%;
    height:auto;
    display: 
    border-radius: 20px;
    margin-left: 170px;


  }
  table{
    text-align: center;
    width: 80%;
      margin-top: 50px;
  }
  td,tr {
    text-align: center;
    padding: 10px;
    margin-left: 80px;

  }
 
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e2ecf0;
    overflow: hidden;
    width: 180%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
    opacity: 0.5;
    
    
  }
  
  
  .container:hover .overlay {
    transform: scale(1);
  }
  
  
  .text {
    color : black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #ee{
    text-align: center;
    color: red;
  }