body {
    background-image: url('https://cdn.dribbble.com/users/2718096/screenshots/6414838/car-test.gif');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#paragraph {
background-color: rgb(206, 197, 197) ;
opacity:40%;
border: solid;
border-radius: 50px;
width: 20%;
height: 45%;
font-size: 30px;
text-align: center;
top: 150px;
position: absolute ;
}
a{
text-decoration: none;
color: white;
font-family:'Courier New', Courier, monospace;
font-size: xx-large;
text-shadow: 1px 1px 2px orangered, 0 0 25px orangered, 0 0 5px orangered;
}
#button1{
    font-family: 'Helvetica', 'Arial', sans-serif;
  box-shadow: 0 2px 25px gray;
  border-radius: 45%;
  appearance: none;
  background: transparent;
  margin: auto;
  width: 21%;
  height: 27%;
  border: 3px solid black;
  padding: 10px;;
  background-color: transparent;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  position: absolute;
  right: 600px;
  top: 200px;
  
}
}